%p
  = t('.copyright', :year => Time.now.year, :site_name => "Atamai Development Ltd.")
  %br
  %small
    For further information from the villagers themselves, see the 
    = link_to "Atamai Village community website.", "http://atamai.org.nz"

